<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://kit.fontawesome.com/60b932b601.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <h1>Online Journal</h1>

    <a href="/login"> Login <i class="fa-solid fa-right-to-bracket"></i></a>
    <br>
    <p>New User
        <i class="fa-regular fa-block-question"></i></p>

    <span class="createAccount">Create an account below:</span>


    <p><a href="/signup"> Signup <i class="fa-solid fa-user-plus"></i></a></p>
</body>

</html>